header {
  background-color: burlywood;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20;
  color: blueviolet;
  padding: 10px 10px 10px 10px;
  margin: 0px;
  width: 190px;
  height: 280px;
  border-block: 2px;
}
header div h1 {
  color: azure;
  padding: 0px;
  margin: 0px;
  font-style: italic;
}
.about {
  width: 45%;
  font-style: ranga;
  color: antiquewhite;
  background: yellowgreen;
  font-size: 30;
  padding: 0px 15px 0px 10px;
}
.about h2 {
  padding: 10px 0px 0px 20px;
  margin-top: 0px;
  color: black;
}
.about p {
  margin: 0px;
  padding: 0px;
}
